/**


 */

*{
    border: solid 0;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 800px;
    width: 700px;
    padding-left: 30%;
    padding-top: 1%;
    background-color: rgba(255, 255, 255, 0.76);
}

.info{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    border: solid;
    height: 300px;
    width: 150px;
    border-radius: 10px;
    margin-bottom: 190px;
}

.Player{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
}

.Player h1{

    flex: 0 0 20%;
}


.Player input{
    text-align: center;
    flex: 0 0 40%;
}

.Opponent{
    text-align: center;
    flex: 1;

}

.grid{

    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr) 1.0fr;
    gap: 2px 2px;
    grid-template-areas:
    "c0 c1 c2"
    "c3 c4 c5"
    "c6 c7 c8";
    justify-items: center;
    align-items: center;
    width: 500px;
    height: 500px;
}


.cell{
    grid-area: c;
    display: table;
    border: solid 0px;
    background-color: #0077ff;
    border-radius: 20px;
}


.content{
    max-width: 165px;
    max-height: 165px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    font-size: 100%;
}

.X{
    opacity: 0;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    font-size: 1000%;
    padding-left: 28px;
    padding-top: 4px;
    color: azure;
}

.O{

    position: relative;
    top: -9px;
    left: -138px;
    opacity: 0;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    font-size: 800%;
    padding-left: 18px;
    padding-top: 20px;
    color: azure;

}
