/**


 */

*{
    border: solid 0;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Zen Maru Gothic', sans-serif;

}

body{
    background-image: url('../img/Dark-Black-Background-Wallpaper-HD-40752.jpg');
    backdrop-filter: blur(3px);


    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1.5fr) 1.1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". t ."
    ". Content ."
    ". . .";
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container{
    grid-area: Content;
    display: flex;
    align-items: center;

}

.info{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    height: 190px;
    width: 150px;
    border-radius: 10px;
    margin-bottom: 305px;
}

.Choice{
    display: flex;
    margin-bottom: 10px;
}

.itext{
    height: 100px;
    background-color: #00b2ff;
    border-radius: 20px;
    margin: 0 5px 5px;

}

.choice{
    height: 47px;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    border-radius: 38px;
    color: #ffffff;
    font-size: 35px;
    padding: 12px 18px 0px 18px;
    text-decoration: none;

}.choice:hover {
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    text-decoration: none;
}.choice:active {
    position:relative;
    top:1px;
}

.Pane .names{
    display: flex;
}

.p_name{
    line-height: 17px;
    width: 10px;
    height: 10px;
    flex: 0 0 45%;
}

.vs{
    height: 10px;
    flex: 1 1 5%;
    line-height: 50px;
    font-size: 15px;
}

.o_name{
    line-height: 17px;
    width: 10px;
    height: 10px;
    flex: 0 0 45%;
}

.x{
    flex: 1;
}

.o{
    flex: 1;
    opacity: 100;
    font-size: 35px;
    text-align: center;
    padding: 12px 13px 1px;
}

.Pane{

    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1 1 100%;
    background-color: #00b2ff;
    border-radius: 10px;
    padding:2px 1px;
}

.Player{
    background-color: #0077ff;
    padding-bottom: 5px;
    margin-top: 1px ;
}


.Player h1{
    margin-top: 10px;
    margin-bottom: 5px;
    flex: 0 0 20px;
}


.Player input{
    text-align: center;
    flex: 0 0 50px;
}

.Opponent{
    margin-top: 5px;
    background-color: #0077ff;
    text-align: center;
    flex: 0 0 40%;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.P2{
    text-align: center;
    height: 50px;
    justify-content: center;
}

.Opponent h1{
    margin-top: 10px;
    height: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.Score{
    background-color: #0077ff;
    margin-top: 5px;
    flex: 0 0 25%;
    display: flex;
    border-radius: 10px;
    padding: 2px;
    font-size: 15px;
}

.detail{
    background: rgba(0, 178, 255, 0);
    display: flex;
    width: inherit;
}

.detail div{

    flex: 1 1 100%;
    width: 50px;
    background-color: #009dff;
    border-radius: 10px;
    margin: 0 21px;
}

.Score .names{
    font-weight: bold;
    flex: 0 0 33%;
    height: 10px;
}

.reset {
    margin-top: 5px;
    background-color: #00b2ff;
    flex: 0 0 60%;
    border-radius: 18px;
    border: 1px solid #4e6096;
    display: inline-block;
    line-height: 124px;
    cursor: default;
    color: #ffffff;
    font-size: 17px;
}.reset:hover {
    background-color:#476e9e;
}
.reset:active {
    position:relative;
    top:1px;
}


.grid{

    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr) 1.0fr;
    gap: 2px 2px;
    grid-template-areas:
    "c0 c1 c2"
    "c3 c4 c5"
    "c6 c7 c8";
    justify-items: center;
    align-items: center;
    width: 500px;
    height: 500px;
}


.cell{
    grid-area: c;
    display: table;
    border: solid 0px;
    background-color: #0077ff;
    border-radius: 20px;
}


.content{
    max-width: 165px;
    max-height: 165px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    font-size: 100%;
}

.X{
    opacity: 0;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    font-size: 1000%;
    padding-left: 28px;
    padding-top: 4px;
    color: azure;
}

.O{

    position: relative;
    top: -9px;
    left: -138px;
    opacity: 0;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    font-size: 800%;
    padding-left: 18px;
    padding-top: 20px;
    color: azure;

}

.title{
    grid-area: t;
    font-size: 100px;
    color: ghostwhite;
    padding-top: 30%;
}

.Winner{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 50px;
    position: absolute;
    background-color: #5e92ff;
    height: 200px;
    width: 500px;
    left: 35vw;
    top: 35vh;
}

.Winner .Score{
    margin: 0 10px;
}

.Score .names{
    margin-bottom: 6px;
}

.winner_announce{
    flex: 1 1 100%;
    height: 100px;
    font-weight: bolder;
    font-size: 25px;
}

.btn{
    line-height: 75px;
    text-align: center;
    margin: 10px 15px;
    justify-content: center;
    flex: 1 1 100%;
    height: 80px;
    background-color: #00b2ff;
    border-radius: 18px;
    border: 1px solid #4e6096;
    cursor: default;
    color: #ffffff;
    font-size: 17px;
}.btn:hover {
     background-color:#476e9e;
 }
.btn:active {
    position:relative;
    top:1px;
}

.btn_cntr{
    width: inherit;
    display: flex;
    align-content: center;
}


#filter{
    visibility: hidden;
    backdrop-filter: blur(3px);
    position: absolute;
    width: 100vw;
    height: 100vh;
}